body {
	font-size: 30px;
	background: powderblue;
	text-align: center;
}

h1{
	background-color: steelblue; font-family: Smartie CAPS;
}

h2{
text-align: left;
font-size: 20px;
font font-family: arial;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

td, th {
  border: 1px solid cornflowerblue;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: steelblue;
}
